@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.swiper-pagination-bullet {
    width: 35px;
    height: 6px;
    background-color: white;
    border-radius: 0px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #F47323;
}

.marquee {
    animation: moveText 25s infinite linear forwards;
}

.marquee-container::before,
.marquee-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    /* Width of the marquee effect */
    pointer-events: none;
    z-index: 1;
}

.marquee-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .1));
}

.marquee-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .1));
}

@keyframes moveText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee-container:hover .marquee {
    animation-play-state: paused;
}

.star::after {
    content: "\2605";
}